{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Последние игры{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('game.init_game') }}">Загадать число</a>
    <a class="action" href="{{ url_for('game.new_game') }}">Новая игра</a>
  {% endif %}

{% endblock %}

{% block content %}
  {% for game in games %}
    <article class="post">
      <header>
        <div>
          <h2>Продолжительность игры {{ game['time_game'] }} сек</h2>
            <div class="about">Игрок {{ game['username'] }}
                               Дата {{ game['game_begin'].strftime('%Y-%m-%d') }}

                 {% if g.user['id'] == game['author_id'] %}
                    <a href="{{ url_for('game.view_game', id_game=game['id']) }}">  Смотреть историю игры </a>
                 {% endif %}
            </div>
        </div>
      </header>
      <p class="body">Загаданное число {{ game['conceived_number'] }}
                      Количество ходов {{ game['count_step'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
