{% extends 'base.html' %}
<h1> Игра "Быки и Коровы". Я задумываю четырехзначное число, все цифры
     которого различны (первая цифра числа отлична от нуля).
     Вам необходимо разгадать задуманное число. Вы вводите четырехзначное
     число c неповторяющимися цифрами, я сообщаю о количестве «быков» и «коров»
     в названном числе. «Бык» — цифра есть в записи задуманного числа и стоит
     в той же позиции, что и в задуманном числе, «Корова» — цифра есть в записи
     задуманного числа, но не стоит в той же позиции, что в задуманном числе
</h1>