{% extends 'base.html' %}

{% block content %}
<h3> Игра "Быки и Коровы". Я задумываю четырехзначное число, все цифры
     которого различны (первая цифра числа отлична от нуля).
     Вам необходимо разгадать задуманное число. Вы вводите четырехзначное
     число c неповторяющимися цифрами, я сообщаю о количестве «быков» и «коров»
     в названном числе. «Бык» — цифра есть в записи задуманного числа и стоит
     в той же позиции, что и в задуманном числе, «Корова» — цифра есть в записи
     задуманного числа, но не стоит в той же позиции, что в задуманном числе
</h3><br>
<h3> Особенности реализации: во время сеанса игры необходимо делать ходы без
     длительных пауз более 120 сек, иначе сеанс после длительной паузы на
     следующем ходе будет прерван и произойдет возврат на главную страницу.
     Сессия будет сохранена только при завершении игры
     по выигрышу, в ней будут сохранены длительность сесии в секундах и
     количество сделанных ходов, для рассчета рейтинга игрока.
     (Страница рейтинга пока в разработке) Лог завершенной
     игры тоже сохранятеся и доступен для просмотра самим игроком. Ответ
     компьютера на сделанный ход выглядит как двухзначное число, первая цифра
     которго - это Быки, вторая цифра - Коровы. При последнем ходе, игра
     завершается возвратом на главную страницу, где она уже видна в ленте.
</h3><br>
<h3>
     Желаю всем удачи!
</h3>
{% endblock %}